.jumbotron {
    background-color: #804040;
    color: #99cc99;
    font-family: Lobster, cursive;
}
.form-control {
    background-color: #5b5b5b;
}
body {
    background-color: #3b3b3b;
    font-family: Indie Flower, cursive;
    color: #aaaaaa;
}
